body{
    background-color: #ebebeb;;  
}
.mainheader {
    background-color: #EAC926;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 20px;
    width: 100%;
}
.mainheaderTop{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    display: inline;
}
.buscadormain{
    display: flex;
    max-height: 3em;
    align-self: center;
    width: 50%;
    padding-left: 20px;
}
.buscador {
    width: 100%;
    
}
.copy-header{
    max-width: 100%;
    
    font-size: 18px;
    
}

.hamburger-button{
    background-color: #1259c3;
    color: white;
    display: block;
    margin: auto;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar{
    display: none;
}

.main-navbar a{
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.buscador{
    font-size: 10px;
}
.banner{
    width: 100%;
    
}
.titulomain{
    text-align: center;
}
.main{
    align-items: center;
    max-width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}
.descripcionProducto{
    font-size: 16px;
   
}
@media (min-width: 0px)and (max-width: 767px){
    .descripcionProducto{
        display: none;
    } 
}

@media (min-width: 768px)  {
    .mainheaderTop{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
        font-size: 18px;
    }
    .logo{
        width: 300px;
    }
    .hamburger-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .main{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .descripcionProducto{
        font-size: 16px;
    }
    .cajaarticulomain{
        max-width: 46%;
        box-shadow: 0px 0px 10px rgb(100,100,100);
        
    }
}

@media (min-width: 1200px){
    .logo{
        width: 250px;
    }
    .buscador{
        display: flex;
        max-height: 3em;
        align-self: left;
        text-align: left;
    }
    .mainheaderTop, .main-navbar{
        max-width: 1200px;
        margin:auto;
        flex-wrap: nowrap;
    }
    .mainheaderTop{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }   
    .footer {
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: row;
    }
    .foot4{
        display:block;
    }
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .descripcionProducto{
        font-size: 16px;
    }
    .cajaarticulomain{
        max-width: 24%;
        box-shadow:0px 0px 10px rgb(100,100,100);
    }
    
    
}
 
footer {
    font-size: 12px;
    text-align: center;
    padding-top: 20px
}

footer h3 {
    font-size: 1.5em;
}



h1{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: green;
}



.fa-credit-card {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-truck {
    color: green;
    font-size: 20px;
    padding-top: 5px;
}
.cajaarticulomain{
    box-shadow:0px 0px 10px rgb(100,100,100)
}
.cajaArticulo{
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: center;
    box-sizing: content-box;
    box-shadow: grey;
}

.macbook{
    align-items: center;
}

.galaxys10{
    align-items: center;
}

.cafetera{
    align-items: center;
}

.smarttv{
    align-items: center;
}
.img {
    width: 100%;
}


/* register */
.formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-top: 50 px;
    padding-top: 50px;
    justify-content: space-between;
}

.tituloperfil{
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
.formulariorad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.formulariocheck {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.tituloform{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}