.mainheader {
    background-color: #EAC926;
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 20px;
    width: 100%;
}

.logo{
    width: 200px;
    display: inline;
}

.hamburger-button{
    background-color: #1259c3;
    color: white;
    display: block;
    margin: auto;
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar{
    display: none;
}

.main-navbar a{
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.buscador{
    font-size: 10px;
}

@media (min-width: 768px)  {
    .mainheaderTop{
        display: flex;
        justify-content: space-between;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
        font-size: 18px;
    }
    .hamburger-button{
        display: none;
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
}

@media (min-width: 1200px){
    .logo{
        width: 250px;
    }
    .mainheaderTop, .main-navbar{
        max-width: 1200px;
        margin:auto;
    }
    .mainheaderTop{
        align-items: center;
    }
    .copy-header{
        margin: 0;
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .main-navbar{
        margin-top: 30px;
    }
    .main-navbar li{
        margin: 0 10px;
    }
    .main-navbar a{
        font-size: 19px;
    }   
}
 
footer {
    font-size: 12px;
    text-align: center;
}

footer h3 {
    font-size: 1.5em;
}

main{
    width: 90%;
    text-align: center;
    font-size: 12px;
}

h1{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: green;
}

.descripcionProducto{
    font-size: 16px;
}

.fa-credit-card {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.fa-truck {
    color: green;
    font-size: 20px;
}

.cajaArticulo{
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding-left: 15px;
    padding-right: 15px;
}




